.btn {

  &-white {
    background-color: #fff;
    font-family: inherit;
    border: 1px solid blue;
    padding: .8rem;
    cursor: pointer;
  }

  &-blue {
    margin: 1rem;
    background-color: blue;
    color: paleturquoise;
    padding: 1rem;
    cursor: pointer;
    border:none;
    border-radius: 1rem;
  }
}